{% extends "login/loginbase.html" %}
{% block title %}Login{% endblock %}
{% block heading %}Login here{% endblock %}
{% block content %}
    <div class="container loginContainer">
        <form method="post" action="." class="form-signin">
            <h4 class="form-signin-heading">Please sign in</h4>

	        {% if form.errors %}		
		        <div class="alert alert-danger" role="alert">
				        <span class="glyphicon glyphicon-exclamation-sign"></span>
                        <span class="sr-only">Error</span>
                        Your username and password didn't match. Please try again.
		        </div>
	        {% endif %}

            {% csrf_token %}
            <label for="id_username" class="">Username</label>
            <input type="text" name="username" value="" size="30" placeholder="John" class="form-control" required autofocus/>
            
            <label for="id_password" class="">Password</label>
            <input type="password" name="password" value="" size="30" placeholder="...."  class="form-control" required/>

            <div class="control-group">
            <p id="btn"><button type="submit" class="btn btn-lg btn-primary btn-block" value="Login" />Login</button></p>
            <input type="hidden" name="next" value="/index/" />
            </div>
        </form>   

        <div class="row">
            <div class="col-xs-12">
		<button onclick="location.href='/registration/'" class="btn btn-default btn-lg btn-block">Sign up here</button>
	
	
	<!--Change/reset password links-->
		<button onclick="location.href='/accounts/password_change'" class="btn btn-default btn-lg btn-block">Change password</button>
		
		<button onclick="location.href='/accounts/password_reset'" class="btn btn-default btn-lg btn-block">Can`t remember your password?</button>
	    
		<!--<p><a href="/accounts/password_change">change password</a></p>-->
		<!--<p><a href="/accounts/password_reset">forgot password</a></p>-->
	    
       
	  </div>
       </div>
    </div>
	
	
	
	
{% endblock %}
