{% extends "base.html" %}
<!--
"admin/base_site.html"
{% load i18n %}

{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password reset' %}
</div>
{% endblock %}
-->

{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}
{% block content %}

<p>{% trans "Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one." %}</p>
<div class="move">
<form action="" method="post">{% csrf_token %}
{{ form.email.errors }}
<p><label for="id_email">{% trans 'Email address:' %}</label> <!--{{ form.email }}--></p>
<p id="resetfield"><input id="id_email" max_length="30" name="email" required="True" type="text" class="form-control input-xlarge" placeholder="Email"></p>
<div id="button">
<!--<p><input type="submit" value="{% trans 'Reset my password' %}" id="bg-color"/></p>-->
<p id="resetbtn"><button type="submit" class="btn btn-lg btn-primary btn-block" value="{% trans 'Reset my password' %}">Reset my password</button></p>
</div>



</form>
</div>
{% endblock %}




