{% extends "login/loginbase.html" %}
{% block title %}Registration{% endblock %}
{% block head %}Sign up as a new user{% endblock %}
{% block content %}
    <!-- http://bootsnipp.com/snippets/featured/registration-form -->
	<div class="container">
		<div class="row centered-form">
            <!-- small screens are filled and any larger will only take up part of the screen -->
			<div class="col-xs-12 col-sm-8 col-sm-offset-2"> 
			
			<h4 class="form-signin-heading" id="move-left">Sign up here!</h4>
			
               <!--<div class="panel panel-default">-->
                
                    <div class="panel-heading">
			<!--<h4 class="form-signin-heading">Sign up here!</h4>-->
                        
                    </div>

                    <div class="panel-body">
                        <form method="post" action="." role="form">
				            {% csrf_token %}
						
                            {% if form.username.errors %}
		                    <div class="alert alert-danger" role="alert">
				                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error</span>
                                    {{ form.username.errors }}
		                    </div>
						    {% endif %}

                            <p class="help-block" id="font">Username can have letters, numbers, and underscores</p>
                            

						    <div class="form-group">
                                    <label for="id_username" class="control-label sr-only">Username:</label>
                                    <input id="id_username" max_length="30" name="username" required="True" type="text" class="form-control input-xlarge" placeholder="Username" />
                            </div>

						    {% if form.email.errors %}
						    <div class="alert alert-danger" role="alert">
				                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error</span>
                                    {{ form.email.errors }}
		                    </div>
						    {% endif %}

						    <div class="form-group">
                                <label for="id_email" class="control-label sr-only">Email:</label>
                                <input id="id_email" max_length="30" name="email" required="True" type="text" class="form-control input-xlarge" placeholder="Email" />
                            </div>

						    {% if form.non_field_errors %}
						    <div class="alert alert-danger" role="alert">
				                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                    <span class="sr-only">Error</span>
                                    {{ form.non_field_errors }}
		                    </div>
						    {% endif %}

						    <div class="row">
                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="id_password1" class="control-label sr-only">Enter Password:</label>
                                        <input id="id_password1" max_length="30" name="password1" render_value="False" required="True" type="password" class="form-control input-xlarge" placeholder="Password" />
                                    </div>
                                </div>

                                <div class="col-xs-6 col-sm-6 col-md-6">
                                    <div class="form-group">
                                        <label for="id_password2" class="control-label sr-only">Re-enter Password:</label>
                                        <input id="id_password2" max_length="30" name="password2" render_value="False" required="True" type="password" class="form-control input-xlarge" placeholder="Confirm password" />
                                    </div>
                                </div>
                            </div>

                            <input type="submit" value="Sign up" class="btn btn-lg btn-primary btn-block" />

                        </form>
                    </div>
                <!--</div>-->
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-12 text-center">
				<button onclick="location.href='/'" class="btn btn-default btn-lg">Login</button>
			</div>
		</div>
	</div>
{% endblock %}
