{% extends "base.html" %}
{% block title %}index page{% endblock %}

{% block style %}
<link href="/static/css/custom_index.css" rel="stylesheet" /> 
{% endblock %} <!--CUSTOM CSS STYLE-->

{% block content %}

<div id="section"> 

  <div id="leftCol">
    <img id="indexImg" src='/static/img/indexImg.png' alt="index image">
  </div>
	    
  <div id="rightCol">
    <h1>Welcome to Stitchpik!</h1>
    <p>Stitchpik is a picture to pattern converter. With it you can upload an image and have it transformed to either a cross-stitch, knitting, or crochet pattern.</p>
    <p>If you decide to create an account, by      selecting "Register", you'll be able to save your   created patterns. If you already have an account "Login." Otherwise jump right into pattern making on the "Application" page.</p>
  </div>
</div>
  
<div id="footer">
  <hr>
  <footer>
    <p>Missouri State University CSC Students</p>
  </footer>
</div><!--footer-->
													
	
{% endblock %}
			
