{% extends "base.html" %}
<!--"admin/base_site.html"
{% load i18n admin_static %}
{% block extrastyle %}{{ block.super }}<link rel="stylesheet" type="text/css" href="{% static "admin/css/forms.css" %}" />{% endblock %}
{% block userlinks %}{% url 'django-admindocs-docroot' as docsroot %}{% if docsroot %}<a href="{{ docsroot }}">{% trans 'Documentation' %}</a> / {% endif %} {% trans 'Change password' %} / <a href="{% url 'admin:logout' %}">{% trans 'Log out' %}</a>{% endblock %}
{% block breadcrumbs %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
{% endblock %}
<div class="breadcrumbs">
<a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
&rsaquo; {% trans 'Password change' %}
</div>
-->

{% block style %}<!--<link href="/static/css/custom_base.css" rel="stylesheet" />-->{% endblock %}
{% block title %}{{ title }}{% endblock %}
{% block content_title %}<h1>{{ title }}</h1>{% endblock %}

{% block content %}<div id="content-main">

<form action="" method="post">{% csrf_token %}
<div>
<!--
{% if form.errors %}
    <p class="errornote">
    {% if form.errors.items|length == 1 %}{% trans "Please correct the error below." %}{% else %}{% trans "Please correct the errors below." %}{% endif %}
    </p>
{% endif %}
-->
{% if form.errors %}		
    <div class="alert alert-danger" role="alert">
	<span class="glyphicon glyphicon-exclamation-sign"></span>
             <span class="sr-only">Error</span>
                 Please correct the error below.
    </div>
{% endif %}


<p id="enter">{% trans "Please enter your old password, for security's sake, and then enter your new password twice so we can verify you typed it in correctly." %}</p>

<fieldset class="module aligned wide">

<div class="form-row">
    {{ form.old_password.errors }}
    <p><label for="id_old_password" class="required">{% trans 'Old password' %}:</label></p>
    <p>{{ form.old_password }}</p>
</div>

<div class="form-row">
    {{ form.new_password1.errors }}
    <p><label for="id_new_password1" class="required">{% trans 'New password' %}:</label></p>
    <p>{{ form.new_password1 }}</p>
</div>

<div class="form-row">
{{ form.new_password2.errors }}
    <p><label for="id_new_password2" class="required">{% trans 'Password (again)' %}:</label></p>
    <p>{{ form.new_password2 }}</p>
</div>

</fieldset>

<div class="submit-row">
    <input type="submit" value="{% trans 'Change my password' %}" class="default" id="bg-color"/>
</div>

<script type="text/javascript">document.getElementById("id_old_password").focus();</script>
</div>
</form></div>

{% endblock %}
