{% extends "login/loginbase.html" %}
{% block title %}Django home page{% endblock %}
{% block head %}Take a moment to login{% endblock %}
{% block content %}
	<div class="container">
	<div class="move">
		<div class="row">
			<h4 class="col-xs-12 text-center">Welcome {{ user.username }} !!!</h4>
		</div>

        <div class="row">
            <div class="col-xs-12 text-center">
                <button onclick="location.href='/'" class="btn btn-default btn-lg btn-primary">To Main Page</button>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-xs-12 text-center">
              <button onclick="location.href='/accounts/password_change'" class="btn btn-default btn-lg">Change password</button>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <button onclick="location.href='/logout/'" class="btn btn-default btn-lg" id="margin">Logout</button>
            </div>
        </div>
        </div>
	</div>
{% endblock %}
