/* Code to make header text all the same */
.navbar .navText {
  color: #9D9D9D;
  padding: 15px;
  font-size: 21px;
}

h1 {
  margin-top: -10pt;
  padding-bottom: 50px;
  color: #FFFFFF;
  text-align: center;
}

body {
 background-color: #E0EADD;
 margin-top: 120px;
 margin-left: 80px;
 margin-right: 80px;
 font-family: sans-serif
}				

#header {
  margin-top: -30px;
  margin-bottom: -30px;
} 

#section {
  border-radius: 25px;
  background: #909090;
  padding: 20px;
}

#leftCol {
//jklj;
}

#rightCol {

}

#footer {
  padding-top: 50px;
  color: #FFFFFF;
}











