body{
  font-family: sans-serif;
  background: none;
  background-color: #FFFFFF;
  background-size: cover;
  background-repeat: no-repeat;
}

/* template error rep */
ul.errorlist {
    list-style:none;
    padding-left:0;
}

/*navbar*/
nav {	/*navigation bar*/
  font-size: 1.5em;
}

nav a {
  color: #FFFFFF;
}

.navbar.navbar-inverse.navbar-fixed-top{
  background-color: #181F7D;
}

.nav li {
  display: inline; 
  margin-right: 10px; 
  color: #FFFFFF;
}

#navImg {
  display: inline;  
  vertical-align: middle;
}
</style>

/*login*/
.form-signin-heading {
  margin-top: 180px;
}

#btn{
  margin-top: 7px;
}

.container.loginContainer{
  width: 750px;
}

.btn.btn-default.btn-lg.btn-block{
  background-color: #BABAD1;
}

/*register*/
.panel-body {
  margin-top: 20px;
}

.panel-default > .panel-heading{
  background-color: #FFFFFF;
  border: none;
}

.btn.btn-default.btn-lg{
  background-color: #BABAD1;
  width: 718px;
}

.form-control.input-xlarge{
  background-color: #FFFFB8;
}

#move-left{
  margin-left: 12px;
}

#font{
  color: #000000;
}

/*change password*/
#content-main{
  margin-top: 180px;
  margin-left: 100px;
}

.submit-row {
  font-size: 18px;
}

#enter{
  font-size: 18px;
}

.form-row li{
  width: 550px;
  color: #A94442;
  background-color: #F2DEDE;
}

#bg-color{
  background-color: #BABAD1;
}

/*reset password*/
.move{
  margin-top: 180px;
  margin-left: 100px;
}

#button{
  font-size: 18px;
  margin-left: 125px;
}

/*change/reset password done*/
#done {
  margin-top: 200px;
  font-size: 18px;
  margin-left: 200px;
}

.alert.alert-danger{
  width: 590px;
}

/*application page*/
#app{
  margin-top: 80px;
}

#my_form li {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
  float: left;
}

#my_form .radio
{
	margin: 1em 0 2em 0;
}

#my_form .radio input
{
	float: left;
	width: auto;
	clear: both;
}

#my_form .radio label
{
	font-weight: normal;
}

#my_form input
{
	display: block;
	width: 10em;
}

#my_form input[type="submit"]
{
	clear: both;
}

#my_form fieldset {
	float: left;
	display: block;
	margin: 0 1em 0 0;
}

#my_form fieldset legend {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 5px;
	line-height: 20px;
}

#my_form label
{
	float: left;
	display: block;
	margin: .25em .25em 0 0;
	font-weight: bold;
}

#my_form select {
	display: block;
}

.render {
	margin-bottom: 10px;
}

/*login success*/
btn.btn-default.btn-lg.btn-primary{
  margin-top: 180px;
  margin-left: 100px;
}

#margin{
  margin-top: 5px;
}

.delay{
  max-width: 100%;
  width: auto;
  height: auto;
  
}
