{% extends "image_manipulation/imageManipBase.html" %}
{% block title %}Application{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<div>
	<!--form -->
	<form method="post" action=".">
		{% csrf_token %}
		<table border="0">
			<tr><th>Number of Colors</th><tr>
			<tr><td>{{ form.numberOfColors }}</td></tr>
			<tr><th>Guage Size</th></tr>
			<tr><td>{{ form.guageSize }}</td></tr>
                        <tr><th>Width (in)</th></tr>
                        <tr><td>{{ form.canvasLength }}</td></tr>
			<tr><th>Height (in)</th></tr>
			<tr><td>{{ form.canvasWidth }}</td></tr>
                        <tr><th>Knit Type</th></tr>
                        <tr><td>{{ form.knitType }}</td></tr>
		</table>
		<input type="submit" value="Render" />
	</form>
</div>

<div>
	<div>
		<!-- top toolbar -->
		<div>
			toolbar
		</div>
	</div>

	<div>
		<!-- image canvas -->
		<div>
			{# will have django img var here #}
			{% load staticfiles %}
			<img src="{% static image %}" alt="image" />
		</div>
	</div>
</div>

<div>
	<!-- colors -->
	<div>
		{# will have django colors vars here #}
		<ul>
			<li>Blue</li>
			<li>Red</li>
		</ul>
	</div>
</div>
{% endblock %}
