{% extends "image_manipulation/imageManipBase.html" %}
{% block title %}Application{% endblock %}
{% block head %}{% endblock %}
{% block content %}
<hr>

<div class="container-fluid">
  <div class="">
    <!-- image canvas -->
    <div>
      {# will have django img var here #}
      {% load staticfiles %}
      <img class="delay" src="{% static image %}" alt="image" />
    </div>
  </div>

  <!-- Upload form. Note enctype attribute! -->
  <form method="post" action="." enctype="multipart/form-data">
    {% csrf_token %}
    <p>{{ imgForm.non_field_errors }}</p>
    <p>{{ imgForm.imgFile.label_tag }} </p>
    <p>
        {{ imgForm.imgFile.errors }}
        {{ imgForm.imgFile }}
    </p>
    <p><input type="submit" value="Upload" /></p>
  </form>

  <hr>
  <div class="well">
    <form method="post" action=".">
      {% csrf_token %}

      <div class="">
        <h4>Number of Colors</h4>
        {{ form.numberOfColors }}
        <h4>Guage Size</h4>
        {{ form.guageSize }}
        <h4>Width (in)</h4>
        {{ form.canvasLength }}
        <h4>Height (in)</h4>
        {{ form.canvasWidth }}
        <h4>Knit Type</h4>
        {{ form.knitType }}
      </div>
      <input type="submit" class="btn btn-primary" value="Render" />
    </form>
  </div>
</div>
{% endblock %}
