{% extends "base.html" %}
{% block title %}Login{% endblock %}
{% block heading %}Login here{% endblock %}
{% block content %}
	{% if form.errors %}
		{# happens if there are erors #}
		<p>Your username and password didn't match. Please try again.</p>
	{% endif %}
	<form method="post" action=".">{% csrf_token %}
		<label for="id_username">Username: </label>{{ form.username }}<br />
		<label for="id_password">Password: </label>{{ form.password }}<br />
		<input type="submit" value="Login" />
		<input type="hidden" name="next" value="/index/" />
	</form>
	<a href="/signup/">Sign up here</a>
{% endblock %}
